VITE_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
VITE_CAMERA_GEOJSON_URL=
VITE_EARTH_IMAGERY_TILES=https://gibs.earthdata.nasa.gov/wmts/epsg3857/best/BlueMarble_ShadedRelief_Bathymetry/default/GoogleMapsCompatible_Level8/{z}/{y}/{x}.jpeg
VITE_NIGHT_LIGHTS_TILES=https://gibs.earthdata.nasa.gov/wmts/epsg3857/best/VIIRS_Black_Marble/default/default/GoogleMapsCompatible_Level8/{z}/{y}/{x}.png
VITE_SATELLITE_TLE_URL=https://celestrak.org/NORAD/elements/gp.php?GROUP=active&FORMAT=tle
VITE_OVERPASS_ENDPOINT=https://overpass-api.de/api/interpreter
VITE_AIRCRAFT_API_TEMPLATE=
VITE_AIRCRAFT_LIVE_MAP_URL=https://globe.adsb.fi/
VITE_NOMINATIM_EMAIL=
