VITE_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
VITE_CAMERA_GEOJSON_URL=
VITE_EARTH_IMAGERY_TILES=https://tiles.maps.eox.at/wmts/1.0.0/s2cloudless-2024_3857/default/g/{z}/{y}/{x}.jpg
VITE_SATELLITE_TLE_URL=https://celestrak.org/NORAD/elements/gp.php?GROUP=active&FORMAT=tle
VITE_OVERPASS_ENDPOINT=https://overpass-api.de/api/interpreter
VITE_AIRCRAFT_API_TEMPLATE=
VITE_AIRCRAFT_LIVE_MAP_URL=https://globe.adsb.fi/
VITE_NOMINATIM_EMAIL=
